@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@400;800&family=Manjari:wght@100;400;700&display=swap');
* {
  font-family: Manjari !important;
}
#hero h1 {
  word-break: break-word;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 30px;
    line-height: 30px;
  }
}
