<footer id="footer">
  <nav>
    <ul>
      <li><span>Kube</span></li>
      <li>
        <a href="/about/">About Author</a>
      </li>
      <li>
        <a href="/book/">Book</a>
      </li>
    </ul>
  </nav>
  <p>created by <a href="https://ibcomputing.com">Mujeebcpy</a></p>
</footer>
