{{ define "title"}} {{ .Site.Title}} {{end}} {{ define "header"}} {{ partial
"header" .}} {{end}} {{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>
  <div id="action-buttons">
    <a
      class="button primary big"
      href="/book"
      onclick="_gaq.push(['_trackEvent', 'kube', 'download']);"
      >Read Book</a
    >
    <p>
      ഈ പുസ്തകത്തിന്റെ പ്രിന്റഡ് കോപ്പിക്കായി +91 94959 81919 എന്ന നമ്പറിൽ
      ബന്ധപ്പെടുക
    </p>
  </div>
  <div><img src="/Pictures/cover.jpg" /></div>
</div>

{{ end }} {{ define "footer"}} {{ partial "footer" .}} {{end}}
